# third-party directory and file
/cpp/include/ac-library
/cpp/include/atcoder

# temporary directory
/tmp
/test
/tools
/python

# temporary file
main.cpp
main.py
clean.php
template.py
problem.html

# old file
*.old

# build file
*.out
Info.plist
a.out.yml
*.pyc

# log file
geckodriver.log


!.gitkeep
