# third-party directory and file
/cpp/include/ac-library
/cpp/include/atcoder

# temporary directory
/tmp
/test
/tools

# temporary file
main.cpp
main.py
clean.php
template.py

# old file
*.old

# build file
*.out
Info.plist
a.out.yml

# log file
geckodriver.log


!.gitkeep
